<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="design.uppms.mapper.CompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="design.uppms.model.po.CompanyPO">
        <id column="Cid" property="Cid" />
        <result column="Cname" property="Cname" />
        <result column="Caddress" property="Caddress" />
        <result column="Cturnover" property="Cturnover" />
    </resultMap>

</mapper>
