<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="design.uppms.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="design.uppms.model.po.StudentPO">
        <id column="sId" property="sId" />
        <result column="sProfessional" property="sProfessional" />
        <result column="sGrade" property="sGrade" />
        <result column="sCollege" property="sCollege" />
        <result column="sCounselorCode" property="sCounselorCode" />
        <result column="sApplyStatus" property="sApplyStatus" />
        <result column="sSchoolStatus" property="sSchoolStatus" />
        <result column="sUID" property="sUID" />
    </resultMap>

</mapper>
